div.row{
    background-color: rgba(128, 128, 128, 0.438);
}
input-form-greda,
input-form-opt{
    padding-top: 5px;
    padding-right: 5px;
}
display-greda{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}